h1{
    background-color: rgb(15, 201, 201);
    margin: 10px 0;
    display: inline-block;
    transition: 1.0s;
}
h2{
    margin: 250px;
    color: rgb(15, 201, 201);
    background-color: rgb(124, 122, 122);
} 
P{
    color: rgb(15, 201, 201);
    background-color: rgb(124, 122, 122);
}
.btn
{
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px black;
    background-color: blue;
    color: black;
    margin: 10px 0;
    display: inline-block;
    transition: 0.2s;
}

.btn:hover{
    transform: scale(1.2);
}
h1:hover
{
    transform: scale3d()(1.2);
}
