h1{
    font-size:  50px;
    text-align: center;
    text-transform: uppercase   ;
    margin: 10px 0;
    color: rgb(15, 201, 201);
    background-color: rgb(124, 122, 122);
    letter-spacing: 5px;
    text-shadow: 5px 2px 2px black;
}
h2{
    font-size:  50px;
    text-align: center;
    text-transform: uppercase   ;
    margin: 250px;
    color: rgb(15, 201, 201);
    background-color: rgb(124, 122, 122);
    letter-spacing: 5px;
} 
P{
    color: rgb(15, 201, 201);
    background-color: rgb(124, 122, 122);
}
.btn
{
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px black;
    background-color: blue;
    color: black;
    margin: 10px 0;
    display: inline-block;
    transition: 0.2s;
}

.btn:hover{
    transform: scale(1.2);
}
h1:hover
{
    transform: scale3d()(1.2);
}
