
.pa{
    padding: 15px;
    border-radius: 99px;
    border-color: rgb(0, 0, 0);
    background-color: blue;
}
.btn, .pa
{
    padding: 10px 20px;
    border-radius: 25px;
    border: black;
    background-color: blue;
    color: black;
    margin: 10px 0;
    display: inline-block;
}